<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>assign8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>831898C31EAEA526007E3667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>831898DA1EAEA527007E3667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>831898E51EAEA527007E3667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
