<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chris.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>833D7C9A1E26F05200FBCC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833D7CAE1E26F05300FBCC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833D7CB91E26F05300FBCC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
